/**
* Bandingin.com
* Created By Rizky Nugroho Tanjo
*/

/** change navbar item color */
body {
  font-family: 'Roboto', sans-serif !important;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto.woff2') format("truetype");
}

@font-face {
  font-family: "robotobold";
  src: url('../fonts/roboto-bold.woff2') format("truetype");
}

.roboto-bold {
  font-family: "robotobold";
}

nav .navbar-nav li a{
  color: #000 !important;
}

.navbar {
  padding : 10px;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

.nav-item a {
  font-size: 14px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 12.7rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: rgba(248,198,32,1);
  background-clip: padding-box;
  border: 0px solid transparent;;
  border-radius: .25rem;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #000;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #fff !important;
  text-decoration: none;
  background-color: #000;
}

/* .dropdown .dropdown-menu{
  -moz-transition:    all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  -o-transition:      all 1000ms ease;
  -ms-transition:     all 1000ms ease;
  transition:         all 1000ms ease;
} */

.dropdown-toggle::after{
  /* display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent; */
  /* font: normal normal normal 14px/1 FontAwesome;
  content: "\f054" !important; */
}

@media(min-width:768px){
  .navbar {
    padding: 0px;
    z-index: 2;
  }

  .navbar-nav {
    height: 45px;
  }
  .nav-item {
    padding-top: 12px;
    width: 145px;
    text-align: center;
  }
  .dropdown-menu {
    margin-top: -3px;
  }
}

@media(min-width:768px) {
  .navbar-nav {
    /* margin: 0px 11%; */
  }
  .navbar-nav > li {
    margin-right: 7px;
  }
}

@media(min-width:1024px) {
  .navbar-nav > li {
    margin-right: 65px;
  }
}

.navigation-bar {
  -webkit-box-shadow : 0 4px 5px 0 rgba(50,50,50,0.5);
  -moz-box-shadow: 0 4px 5px 0 rgba(50,50,50,0.5);
  box-shadow: 0 4px 5px 0 rgba(50,50,50,0.5);
  background: rgba(248,198,32,1);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #FFFF00;
  color: #FFC0CB;
}

.dropdown-menu-2nd, .dropdown-menu-child {
  background-color: #fed501;
}

.section {
  height: auto;
}

.separator {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 3px solid rgb(43, 43, 43);
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.adira-bg-yellow {
  background-color: rgba(254,203,14,1);
}

.adira-bg-white {
  background-color: rgb(255, 255, 255);
}

.adira-whats-on-title-wrapper {
  min-height: 76px;
}

.whats-on-item {
  margin: 0px auto;
}

.product-item-wrapper {
  /* border:9px solid #FFF; */
  border-radius:50%;
  height:120px;
  width:120px;
  box-shadow: 0 0 8px -2px #888;
  margin:0px auto;
}

.product-icon-img {
  transition: 0.3s;
}

.product-icon-img:hover {
  transform: scale(1.2, 1.2);
}

.content-text {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.service-main-gallery{
  width: 100%;
  height: auto;
}

.service-inner {
  text-align:center;
}

.service-main-gallery .service-inner{
  padding: 5px;
  font-size: 0px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.service-main-gallery .service-inner .tile{
  margin-right: 10px;
  padding: 0px;
  height: 150px;
  width: 250px;
  background: #fff;
  display: inline-block;
}

.tile img {
  height: 100%;
}

.btn-black {
  background-color:#000;
  color: #FFF;
}

.btn-black:hover {
  background-color:rgb(94, 92, 92);
  color: #FFF;
}

.overlapping-hide {
  overflow: hidden;
}

.h-500 {
  height: 500px;
}

.inner-content_cell {
  /* display: table;
  vertical-align: bottom;
  height: 84vh; */
}

.adira-bg-dark {
  background-color:#595959;
}

.adira-border-bottom-dark {
  border-bottom: 1px solid #737373;
}

.prefooter-link {
  list-style: none;
}
.prefooter-link li {
  display: inline;
  margin: 0px 21px 0px 0px;
}

.prefooter-link a {
  color : rgb(207, 207, 207);
  text-decoration: none;
}

.footer-address {
  list-style: none;
}

.footer-address li {
  color : rgb(207, 207, 207);
}

.footer-sosmed {
  list-style: none;
}

.footer-sosmed li {
  display: inline;
  margin: 0px 21px 0px 0px;
}

.copyright {
  text-align: center;
  font-size: 13px;
  color: #FFF;
  margin: auto;
}

.footer-brand {
  display: flex;
  margin: 0px auto;
}

.footer-brand-item {
  /* background-color: #737373; */
  /* margin: 0px auto; */
}

.footer-brand-img-color, .footer-brand-img-grey {
  -webkit-animation   : fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation    : fadein 1s; /* Firefox < 16 */
    -ms-animation     : fadein 1s; /* Internet Explorer */
      -o-animation    : fadein 1s; /* Opera < 1121 */
        animation     : fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.footer-rule {
  border-bottom:1px solid #969696;
  margin-top: 10px;
  width:93%;
}
.bg-gray {
  background-color: #ebebeb;
}

.accordion-adira {
  border-bottom: 1px solid #979797 !important;
  border-top: 1px solid #979797 !important;
}
.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion-active, .accordion:hover {
  background-color: #ebebeb;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.adira-tabs {
	display: flex;
	flex-wrap: wrap; 
}
.adira-tabs label {
	order: 1; 
	display: block;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
  background: #FFF;
  font-weight: bold;
  transition: background ease 0.2s;

  border: 1px solid #cecece;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.adira-tabs .adira-tab {
  order: 99; 
  flex-grow: 1;
	width: 100%;
	display: none;
  padding: 1rem;
  background: #fff;
}
.adira-tabs input[type="radio"] {
	display: none;
}
.adira-tabs input[type="radio"]:checked + label {
	background: #ebebeb;
}
.adira-tabs input[type="radio"]:checked + label + .adira-tab {
	display: block;
}

@media (max-width: 1200px) and (max-height: 500px){
  .whats-on-item {
    margin: 0px 10px auto !important;
  }
}

@media (max-width: 45em) {
  .adira-tabs .adira-tab,
  .adira-tabs label {
    order: initial;
  }
  .adira-tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
  .adira-structure-management-wrapper{
    width: 220px !important;
  }
  .adira-structure-management-img img {
    height:250px !important;
  }
}

@media (max-width:768px) {
  .logo-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .footer-brand {
    display: contents;
    margin: 0px auto;
  }

  .adira-nav-mobile-wrapper{
      width:100%;
      /* position:relative; */
      /* left:0; */
      /* transition:left .4s; */
  }
  .adira-nav-mobile-wrapper.out {
    transform: translate3d(0,0,0);
    overflow: hidden;
      /* left:100%; */
      /* display:block !important; */
  }
  .side-collapse {
      top:50px;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
  }
  .side-collapse.in {
      width:0;
  }

  .border-testi{
    border-left: none !important;
    margin-top: 0px !important;
    height: 10em !important;
  }
}

@media (max-width:768px) and (min-width:600px) {
  .adira-structure-management-wrapper{
    width: 200px !important;
  }
}

@media (max-width:999px) and (min-width:500px) {
  .adira-structure-management-wrapper{
    width: 200px !important;
  }
}

@media (max-width:1202px) and (min-width:1000px) {
  .adira-structure-management-wrapper{
    width: 270px !important;
  }
}

.adira-language-link a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.adira-structure-management-wrapper{
  border:1px solid #cecece;
  height: auto;
  margin:0px auto;
  margin-bottom: 10px;
  min-height: 463px;
  width: 300px;
}



.adira-structure-management-img {
  border-bottom:1px solid #cecece;
}

.adira-structure-management-img img {
  height:300px;
  width:100%;
}

.adira-structure-management-read-more a {
  color: #000;
}

.adira-structure-management-read-more a:hover {
  color: #000;
}

.modal_structure_organisation_img {
  min-height: 250px;
}

.modal_structure_organisation_name {
  font-weight: bold;
}

.modal_structure_organisation_data {
  /* margin-top: 9%; */
}

.adira-tag-wrapper {
  padding: 0;
  list-style: none;
}

.adira-tag-item {
  display:inline;
}

.adira-tag-badge {
  background-color : #FFFF00;
  color: #000;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  padding: .35em .4em;
  font-size: larger;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  margin: 2px;
}

.adira-breadcrumb {

}

.adira-breadcrumb a {
  color: #000;
  /* font-weight: bold; */
  text-decoration: none;
}

.adira-share-word {
  font-weight: bold;
  margin-right: 30px;
}

.adira-articles-list-item {
  margin:0px auto;
  border:1px solid #cecece; 
  height: 404px;
  width: 300px;
}
.adira-articles-list-item-title {
  
}

.adira-articles-list-item-title a {
  color: #000;
  text-decoration: none;
}

.adira-articles-list-item-title span { 
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.adira-articles-list-item img {
  /* border:1px solid #cecece;  */
  height: 200px;
}

.adira-articles-list-item-read-more {
  height:30px;
}
.adira-articles-list-item-read-more a {
  text-decoration: none;
  color: #000;
}

.adira-articles-list-item-read-more small {
  font-weight: bold;
}

.adira-carrer-wrap {
  border:1px solid #cecece;
  height:auto;
  width:100%;
  padding:25px;
}

.adira-carrer-position {
  font-weight: bold;
}

.adira-unduh-yellow {
  color: #f1ac1c;
}

.adira-input-garage {
  border: 1px solid #f1ac1c;
}

.adira-garage-wrap {

}

.adira-garage-location-label {
  font-weight: bold;
}

.adira-garage-icon {
  color : #717171;
}

.adira-sitemap-wrap {
  list-style-type: none;
  padding:0px;
  line-height: 32px;
}

.adira-sitemap-bold {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.adira-sitemap-wrap a {
  color : #000;
  text-decoration: none !important;
}

.adira-contact-bold {
  font-weight: bold;
}

.page-item {
  margin-right: 10px;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #aaaaaa;
  border-color: #aaaaaa;
}

.page-item.disabled .page-link {
  color: #FFF;
  pointer-events: none;
  cursor: auto;
  background-color: #aaaaaa;
  border-color: #aaaaaa;
}

.page-link { 
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #FFF;
  background-color: #aaaaaa;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #aaaaaa;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.adira-bottom-footer {
  height:auto;
}

.border-testi{
  border-left: 2px solid #ccc;
  height: 5em;
  margin-top: 20px;
}

.adira-nav-mobile-wrapper {
    max-height: 100vh;
    max-width: 420px;
    position: fixed;
    top: 0;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
    transition: transform .4s ease-out,-webkit-transform .4s ease-out;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-107%,0,0);
    width: 100%;
    z-index: 1001;   
    height: 100%;
    background-color: #FFF;
    box-shadow: 7px 0 12px -5px #888;
  }
  
  .adira-nav-mobile-head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    /* left: 1px; */
    top: 0;
    width: 100%;
    height: 60px;
    /* padding: 16px 19px; */
  }
  
  .adira-nav-mobile-head-item-left {
    height: 60px;
    width: 164px;
    float: left;
    top: 0;
    padding: 16px 19px;
  }
  .adira-nav-mobile-head-item-right {
    height: 60px;
    width: 60px;
    float: right;
    right: 0px;
    top: 0;
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 0;
    padding: 16px 19px;
    cursor: pointer;
    position: absolute;
    right: -1%;
  }
  
  .adira-nav-mobile-ul-first {
    list-style-type: none;
    padding: 16px;
    height:100%;
    max-height: 533px;
    overflow: overlay;
  }
  
  .adira-nav-mobile-ul-second {
    list-style-type: none;
    padding: 1px 0px 1px 28px;
    display: none;
  }
  
  .adira-nav-mobile-ul-first li {
    line-height: 44px;
  }
  
  .adira-nav-mobile-ul-first a {
    text-decoration: none;
    color:#191919;
  }
  
  .adira-nav-mobile-ul-first-a {
    font-weight: bold;
  }
  
  .adira-nav-mobile-ul-first-a-active {
    font-weight: bold;
  }
  
  .adira-nav-mobile-ul-third {
    display: none;
    list-style: none;
    padding: 1px 0px 1px 28px;
  }
  
  .adira-nav-mobile-ul-four {
    display: none;
    list-style: none;
    padding: 1px 0px 1px 28px;
  }
  
  .adira-nav-mobile-icon {
    right: 10px;
    margin-top: 15px;
    position: relative;
    font-size: 16px;
    float: right;
  }

  .search-icon {
    cursor: pointer;
  }

  .search-form {    
    position: absolute;
    right: 5%;
    top: 45px;
    height: 70px;
    width: 362px;
    background-color: #FFF;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #eee;
  }
  .adira-search-btn {
    background-color:rgb(14, 13, 13);
    color: #FFF;
  }

  .adira-nav-mobile-foot {
    display     : flex;
    align-items : center;
    margin-left : 10px;
    position    : absolute;
    bottom      : 0px;
  }
  .adira-gallery-item-service-parent {
    height: 153px;
    position: absolute;
    width: 235px;
    overflow: hidden;
  }
  .adira-gallery-item-service {
    height: 153px;
    width: 235px;
    background-color: rgba(200, 200, 33, 0.8);
    opacity: 0.9;
    position: absolute;
    left: -100%;
    transition: 0.4s ease-out;
  }
  .adira-gallery-item-service a:hover {
    text-decoration: none;
    color:#212529;
  }
  .adira-gallery-item-tile {
    margin-right: 10px;
    padding: 0px;
    height: auto;
    width: 235px;
    background: #fff;
    display: inline-block;
  }
  .adira-gallery-item-service-title h3 { 
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: bold;
  }
  .adira-gallery-item-service-description span {
    color: rgb(68, 68, 68);
    font-size: 12px;
  }

